
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f3f3f3;
}
/* Dr ngwashi app styles */

.header {
  padding: 200px 0px 0px 0px;
  background-image: url(images/bg-callout.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}





.header h1 {
  font-size: 75px;
  font-weight: bold;
 text-shadow: 2px 3px 4px black;
 
}
.header p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  
}
.header button {
  width: 13%;
  margin-top: 35px;
}
/* Dashbord styles */

.navigation > .navbar > .brand {
  background-color: #3198c7;
  height: 50px;
  /* border-radius: 12px; trouver la fonctionnaliter de gauche*/
  width: 25em;
  padding: 20px 0px 50px 20px;
  border-radius: 0px 0px 70px 0px;
}
.navigation > .navbar {
  margin-top: 20px;
  padding: 0;
  margin-left: 20px;
  
}
.appointement div{

  margin-top: 30px;
}
/* .appointement button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  border: none;
} */

div input{
  /* width: 320px; */
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 30px;
  padding: 10px 10px 10px 20px;
  border: none;
  outline: none;
  justify-content: center;
}
.score div > .missed {
 
  background-color: #fec4c4;
  overflow: auto;
  padding-top: 10px;
  padding-left: 30px;
  
}
.score div > .recheduled {
  background-color: #fff2e0;
  overflow: auto;
  padding-top: 10px;
  padding-left: 30px;
  
}
.score div > .passed {
  background-color: #a2b9a9;
  overflow: auto;
  padding-top: 10px;
  padding-left: 30px;
  


}
.score div {
  /* display: flex; */
  flex-wrap: wrap;
  border-radius: 0px 30px 0px 30px;
  margin: auto;
  margin-top: 20px;
  
}
.score  p{
   font-size: 37px;
}
.icon {
  position: absolute;
  right: 70px;
  top: 145px;
  margin-top: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  
  
}
.link {
  text-decoration: none;
  color: #FFFFFF;
}
.link:hover{
  color: #FFFFFF;
}
#btnwelcome:hover{
  transform: scale(1.15);

}
.firstTitle div {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.firstTitle div div{
  display: flex;
  background-color: #FFFFFF;
  padding: 10px 180px 10px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.firstTitle div div button {
  background-color: #FFFFFF;
  border: #FFFFFF;
  margin-left: 100px;
  font-size: 18px;

}

#search {
  display: flex;
  flex-wrap: nowrap;
}

.datas div {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: auto;
  /* border: 1px solid #a2b9a9; */
  margin-bottom: 15px;
  
}
.datas div div {
  display: flex;
  flex-wrap: nowrap;
  background-color:#FFFFFF;
  margin:auto;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}
.datas div .status {
  background-color: #add1bc;
  color: green;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.number div {
  margin-bottom: 100px;
  background-color: #FFFFFF;
  width: 200px; 
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 80px;
  border-radius: 20px;
  height: 60px;
}

.number button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
}
.number .numberp {
  background-color: #fec4c4;
  width: 20px;
  border-radius: 8px;
  text-align: center;
}
.number div .addForm  {
  /* background-color: #c7316a; */
  width: 40px;
  margin-left: 150px;
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
  
}

.number div .addForm button {
  background-color:#be5b5b;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow: 2px 3px 4px rgb(122, 114, 114);

  
  
  
}
.number div .addForm button .formadd {
    
}